.burgerConstructor {
  width: 600px;
  height: calc(100vh - 268px);
  margin-top: 100px;
  margin-bottom: 40px;
  overflow: hidden;
}

.burgerConstructorScroll {
  padding: 0 8px 0 16px;
  overflow-y: scroll;
}

.burgerConstructorScroll::-webkit-scrollbar {
  width: 8px;
}

.burgerConstructorScroll::-webkit-scrollbar-track {
  width: 8px;
  background-color: #2F2F37;
}

.burgerConstructorScroll::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.bun {
  display: flex;
  justify-content: flex-end;
  margin-right: 16px;
}

.topBun {
  composes: bun;
  margin-bottom: 8px;
}

.botBun {
  composes: bun;
  margin-top: 8px;
}

.ingredientContainer {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 8px;
}

.burgerConstructorOrder {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.burgerConstructorTotal{
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}
