:global(body) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:global(ul) {
	list-style: none;
}

.main {
  composes: container from '../../base.module.css';
  display: flex;
  justify-content: space-between;
}