:global(body) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:global(ul) {
	list-style: none;
}

:global(button) {
	background: none;
  border: none;
  cursor: pointer;
}


.main {
  composes: container from '../../base.module.css';
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}