.appHeader {
  composes: container from '../../base.module.css';
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuList {
  display: flex;
  padding: 0;
}

.menuLink {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.menuLinkIcon{
  display: flex;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}