.appHeader {
  composes: container from '../../base.module.css';
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.menuList {
  display: flex;
  padding: 0;
}

.menuLink {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.menuLinkFirst {
  padding-left: 0;
}

.menuLinkLast {
  padding-right: 0;
}

.menuLinkIcon{
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}